<h1>Days between Dates</h1>

<div>
  <div class="form-wrapper">
    <%= form_for :search, method: :get do |t| %>
      <%= t.date_field :start_date, as: :string, class: "date-picker" %>
      <%= t.date_field :end_date, as: :string, class: "date-picker" %>
      <%= t.submit "Submit" %>
    <% end %>
  </div>
</div>

